.colculatorContainer {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.calButton {
  width: 65px;
  height: 61px;
  font-size: 1.5em;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.calButton:hover {
  background-color: #d4d4d4;
}

.calButton:active {
  background-color: #ccc;
  transform: scale(0.95);
}
